<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bidding-material-round-heading" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.home.createOrEditLabel">Create or edit a Bidding Material Round</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.needQty" for="field_needQty" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingMaterialRound.help.needQty' | translate">Need Qty</label>
                    <input type="number" class="form-control" name="needQty" id="field_needQty"
                           formControlName="needQty"/>
                    <div *ngIf="editForm.get('needQty')!.invalid && (editForm.get('needQty')!.dirty || editForm.get('needQty')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('needQty')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('needQty')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.priceCeiling" for="field_priceCeiling" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingMaterialRound.help.priceCeiling' | translate">Price Ceiling</label>
                    <input type="number" class="form-control" name="priceCeiling" id="field_priceCeiling"
                           formControlName="priceCeiling"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.fileUrl" for="field_fileUrl" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingMaterialRound.help.fileUrl' | translate">File Url</label>
                    <input type="number" class="form-control" name="fileUrl" id="field_fileUrl"
                           formControlName="fileUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.createdBy" for="field_createdBy" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingMaterialRound.help.createdBy' | translate">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.createdDate" for="field_createdDate" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingMaterialRound.help.createdDate' | translate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.lastModifiedBy" for="field_lastModifiedBy" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingMaterialRound.help.lastModifiedBy' | translate">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.lastModifiedDate" for="field_lastModifiedDate" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingMaterialRound.help.lastModifiedDate' | translate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.material" for="field_material">Material</label>
                    <select class="form-control" id="field_material" name="material" formControlName="material">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="materialOption.id === editForm.get('material')!.value?.id ? editForm.get('material')!.value : materialOption" *ngFor="let materialOption of materials; trackBy: trackById">{{ materialOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingMaterialRound.roundInfo" for="field_roundInfo">Round Info</label>
                    <select class="form-control" id="field_roundInfo" name="roundInfo" formControlName="roundInfo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="biddingRoundInfoOption.id === editForm.get('roundInfo')!.value?.id ? editForm.get('roundInfo')!.value : biddingRoundInfoOption" *ngFor="let biddingRoundInfoOption of biddingroundinfos; trackBy: trackById">{{ biddingRoundInfoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
