<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.home.title">Bidding Openers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bidding-opener" [routerLink]="['/bidding-opener/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.home.createLabel">
            Create a new Bidding Opener
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="biddingOpeners?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.home.notFound">No biddingOpeners found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="biddingOpeners && biddingOpeners.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.userId">User Id</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.secretKey">Secret Key</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.createdDate">Created Date</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.lastModifiedBy">Last Modified By</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.lastModifiedDate">Last Modified Date</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.bqHeader">Bq Header</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let biddingOpener of biddingOpeners ;trackBy: trackId">
                    <td><a [routerLink]="['/bidding-opener', biddingOpener.id, 'view']">{{ biddingOpener.id }}</a></td>
                    <td>{{ biddingOpener.userId }}</td>
                    <td>{{ biddingOpener.secretKey }}</td>
                    <td>{{ biddingOpener.createdBy }}</td>
                    <td>{{ biddingOpener.createdDate | date:'medium' }}</td>
                    <td>{{ biddingOpener.lastModifiedBy }}</td>
                    <td>{{ biddingOpener.lastModifiedDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="biddingOpener.bqHeader">
                            <a [routerLink]="['/bidding-quotation-header', biddingOpener.bqHeader?.id, 'view']" >{{ biddingOpener.bqHeader?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bidding-opener', biddingOpener.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bidding-opener', biddingOpener.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(biddingOpener)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
