<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bidding-opener-heading" jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.home.createOrEditLabel">Create or edit a Bidding Opener</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.userId" for="field_userId" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingOpener.help.userId' | translate">User Id</label>
                    <input type="text" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                    <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.secretKey" for="field_secretKey" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingOpener.help.secretKey' | translate">Secret Key</label>
                    <input type="text" class="form-control" name="secretKey" id="field_secretKey"
                           formControlName="secretKey"/>
                    <div *ngIf="editForm.get('secretKey')!.invalid && (editForm.get('secretKey')!.dirty || editForm.get('secretKey')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('secretKey')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.createdBy" for="field_createdBy" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingOpener.help.createdBy' | translate">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.createdDate" for="field_createdDate" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingOpener.help.createdDate' | translate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.lastModifiedBy" for="field_lastModifiedBy" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingOpener.help.lastModifiedBy' | translate">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.lastModifiedDate" for="field_lastModifiedDate" [ngbTooltip]="'jhipsterSampleApplicationApp.biddingOpener.help.lastModifiedDate' | translate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.biddingOpener.bqHeader" for="field_bqHeader">Bq Header</label>
                    <select class="form-control" id="field_bqHeader" name="bqHeader" formControlName="bqHeader">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="biddingQuotationHeaderOption.id === editForm.get('bqHeader')!.value?.id ? editForm.get('bqHeader')!.value : biddingQuotationHeaderOption" *ngFor="let biddingQuotationHeaderOption of biddingquotationheaders; trackBy: trackById">{{ biddingQuotationHeaderOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
