<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="poHeader">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.poHeader.detail.title">Po Header</span> {{ poHeader.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.poHeader.priceCompare">Price Compare</span></dt>
                <dd>
                    <div *ngIf="poHeader.priceCompare">
                        <a [routerLink]="['/price-compare', poHeader.priceCompare?.id, 'view']">{{ poHeader.priceCompare?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/po-header', poHeader.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
